In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer, MinMaxScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error, r2_score

In [2]:
df= pd.read_csv('customer_value_analysis.csv')

In [3]:
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [4]:
df.columns= df.columns.str.lower()
df.columns=df.columns.str.replace(' ', '_')

In [5]:
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [6]:
df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [7]:
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [9]:
#1. Define X and y
#2. Import sklearn train_test_split and separate the data. Set test_size=0.30 and random_state=31

In [10]:
from sklearn.model_selection import train_test_split

X= df.drop(columns=['customer_lifetime_value'])
y= df['customer_lifetime_value']

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 30, random_state=31)

In [11]:
#3. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [12]:
numerical_columns= X.select_dtypes(include=[int, float]).columns
categorical_columns= X.select_dtypes(include=[object]).columns

In [13]:
X_train_num= X_train[numerical_columns] 
X_train_cat= X_train[categorical_columns]
X_test_num= X_test[numerical_columns]
X_test_cat= X_test[categorical_columns]

In [14]:
#4. Encode the categorical variables X_train_cat and X_test_cat using the OneHotEncoder setup in the previous lab. Remember to use `.toarray()` after `.transform()` to endup with a numpy array. Next, cast the resulting numpy arrays into pandas DataFrames. Make sure that the column names of the new dataframes are correctly setup using `encoder.get_feature_names_out()` and the same indexes of X_train_cat and X_test_cat

In [15]:
encoder = OneHotEncoder(handle_unknown='ignore')
X_train_cat_encoded = encoder.fit_transform(X_train_cat).toarray()
X_test_cat_encoded = encoder.transform(X_test_cat).toarray()

In [16]:
X_train_cat_encoded_df = pd.DataFrame(X_train_cat_encoded, columns=encoder.get_feature_names_out(X_train_cat.columns), index=X_train_cat.index)
X_test_cat_encoded_df = pd.DataFrame(X_test_cat_encoded, columns=encoder.get_feature_names_out(X_test_cat.columns), index=X_test_cat.index)

In [17]:
#5. Use X_train_num to fit a power transformer. Transform BOTH X_train_num and X_test_num. Next, cast the resulting numpy arrays as pandas dataframes. Make sure to set the correct columns names and to use the same indexes of X_train_num and X_test_num. Name the final resulting dataframes as:
#X_train_num_transformed_df and X_test_num_transformed_df

In [20]:
power_transformer= PowerTransformer()
X_train_num_transformed= power_transformer.fit_transform(X_train_num)
X_test_num_transformed= power_transformer.fit_transform(X_test_num)

In [21]:
X_train_num_transformed_df = pd.DataFrame(X_train_num_transformed, columns=numerical_columns, index=X_train_num.index)
X_test_num_transformed_df = pd.DataFrame(X_test_num_transformed, columns=numerical_columns, index=X_test_num.index)

In [ ]:
#6. Concat X_train_num_transformed_df and X_train_cat_encoded_df into X_train_new and X_test_num_transformed_df and X_test_cat_encoded_df into X_test_new

In [22]:
X_train_new = pd.concat([X_train_num_transformed_df, X_train_cat_encoded_df], axis=1)
X_test_new = pd.concat([X_test_num_transformed_df, X_test_cat_encoded_df], axis=1)

In [ ]:
#7. Fit a MinMax scaler using X_train_new and transform X_train_new and X_test_new. Create new pandas dataframes from the resulting numpy arrays. Remember to set the correct columns names and indexes. Name the resulting dataframes as:
#X_train_new_scaled_df and X_test_new_scaled_df

In [23]:
scaler = MinMaxScaler()
X_train_new_scaled = scaler.fit_transform(X_train_new)
X_test_new_scaled = scaler.transform(X_test_new)

In [24]:
X_train_new_scaled_df = pd.DataFrame(X_train_new_scaled, columns=X_train_new.columns, index=X_train_new.index)
X_test_new_scaled_df = pd.DataFrame(X_test_new_scaled, columns=X_test_new.columns, index=X_test_new.index)

In [ ]:
#8. Train a simple linear regression model using X_train_new_scaled_df, and get the predictions for the train and test sets

In [25]:
linear_regressor = LinearRegression()
linear_regressor.fit(X_train_new_scaled_df, y_train)

LinearRegression()

In [28]:
y_train_pred = linear_regressor.predict(X_train_new_scaled_df)
y_test_pred = linear_regressor.predict(X_test_new_scaled_df)

In [ ]:
#9. Create a function that given a model prediction and real values returns a pandas dataframe with the following table:

#|Error_metric| Value |
#|------------|-------|
#| MAE        | value |
#| MSE        | value |
#| RMSE       | value |
#| MAPE       | value |
#| R2         | value |

In [29]:
def evaluate_model(predictions, actual):
    mae = mean_absolute_error(actual, predictions)
    mse = mean_squared_error(actual, predictions)
    rmse = mean_squared_error(actual, predictions, squared=False)
    mape = mean_squared_log_error(actual, predictions) * 100
    r2 = r2_score(actual, predictions)
    
    error_metrics = pd.DataFrame({
        'Error_metric': ['MAE', 'MSE', 'RMSE', 'MAPE', 'R2'],
        'Value': [mae, mse, rmse, mape, r2]
    })
    
    return error_metrics

In [ ]:
#10. Evaluate the linear model predictions using the previous function on the TRAIN and TEST sets

In [30]:
train_error_metrics = evaluate_model(y_train_pred, y_train)
test_error_metrics = evaluate_model(y_test_pred, y_test)

In [31]:
train_error_metrics

  Error_metric         Value
0          MAE  5.796288e-11
1          MSE  5.612279e-21
2         RMSE  7.491514e-11
3         MAPE  2.585538e-26
4           R2  1.000000e+00

In [32]:
test_error_metrics

  Error_metric         Value
0          MAE  4.329635e+03
1          MSE  3.792898e+07
2         RMSE  6.158651e+03
3         MAPE  3.982261e+01
4           R2 -3.128524e-01

In [ ]:
#11. Now define a function that takes as an input: list of models, X_train and y_train to train several model (with default values) so we can train a lot of them without repeating code. The function must return the list of trained models.

In [33]:
def train_and_evaluate_models(models, X_train, y_train, X_test, y_test):
    trained_models = []
    
    for model in models:
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        train_error_metrics = evaluate_model(y_train_pred, y_train)
        test_error_metrics = evaluate_model(y_test_pred, y_test)
        
        model_results = {
            'Model': model.__class__.__name__,
            'Train_Error_Metrics': train_error_metrics,
            'Test_Error_Metrics': test_error_metrics
        }
        
        trained_models.append(model_results)
    
    return trained_models

In [ ]:
#12. Use the function to train the following models (with default settings):
#*[LinearRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression)

#*[KNeighborsRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn-neighbors-kneighborsregressor)

#*[MLPRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html#sklearn.neural_network.MLPRegressor)

In [34]:
models_to_train = [LinearRegression(), KNeighborsRegressor(), MLPRegressor()]
model_results = train_and_evaluate_models(models_to_train, X_train_new_scaled_df, y_train, X_test_new_scaled_df, y_test)

C:\Users\franc\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [ ]:
#15. Evaluate the models with the function created earlier in the TRAIN and TEST sets. Which model performs best with the default options?

In [35]:
for result in model_results:
    print(f"Model: {result['Model']}")
    print("Train Error Metrics:")
    print(result['Train_Error_Metrics'])
    print("Test Error Metrics:")
    print(result['Test_Error_Metrics'])
    print("\n")

Model: LinearRegression
Train Error Metrics:
  Error_metric         Value
0          MAE  5.796288e-11
1          MSE  5.612279e-21
2         RMSE  7.491514e-11
3         MAPE  2.585538e-26
4           R2  1.000000e+00
Test Error Metrics:
  Error_metric         Value
0          MAE  4.329635e+03
1          MSE  3.792898e+07
2         RMSE  6.158651e+03
3         MAPE  3.982261e+01
4           R2 -3.128524e-01


Model: KNeighborsRegressor
Train Error Metrics:
  Error_metric         Value
0          MAE  2.979689e+03
1          MSE  2.713507e+07
2         RMSE  5.209133e+03
3         MAPE  2.365309e+01
4           R2  4.258872e-01
Test Error Metrics:
  Error_metric         Value
0          MAE  2.808331e+03
1          MSE  2.761170e+07
2         RMSE  5.254684e+03
3         MAPE  2.654000e+01
4           R2  4.426407e-02


Model: MLPRegressor
Train Error Metrics:
  Error_metric         Value
0          MAE  3.826822e+03
1          MSE  3.762515e+07
2         RMSE  6.133935e+03
3         MAPE  3.246012e+01
4           R2  2.039422e-01
Test Error Metrics:
  Error_metric         Value
0          MAE  4.152730e+03
1          MSE  3.340323e+07
2         RMSE  5.779553e+03
3         MAPE  3.838826e+01
4           R2 -1.562008e-01